* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

input {
    padding: 5px;
    font-size: 12px;
    border: 1px solid lightgray;
    width: 100%;
    max-width: 200px;
}

button {
    border: 1px solid #758fa8;
    background-color: #88a6bf;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.root {
    max-width: 960px;
    margin: auto;
    padding: 0 40px;
}

nav {
    padding: 40px 0;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin {
    padding: 20px;
    border: 1px solid lightgray;
}

.admin h5 {
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 10px 20px;
    max-width: 250px;
    width: 100%;
}

.product button {
    max-width: 100%;
}

.product-cart {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.product-cart img {
    height: 81px;
}

.product-cart button.removeBtn {
    max-width: 50px;
}

.cartItemCount {
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
}

button.borrarBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d45c5c;
    border: none;
    max-width: 50px;
}

.product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product img {
    width: 100%;
}

.carritoPopup {
    position: fixed;
    top: 100px;
    right: -200%;
    background-color: white;
    max-width: 320px;
    width: 80%;
    height: 70%;
    padding: 30px;
    border: 1px solid lightgray;
    transition: all 0.7s cubic-bezier(.25,.8,.25,1) !important;
    overflow-y: scroll;
}

.carritoPopup.active {
    right: 40px;
}

.card {
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.totals {
    margin-top: 10px;
}